#header {
  background-size: auto 120%;
}

.actions--contact {
  margin-top: 2em;
  margin-bottom: 0;
}

.actions__result {
  line-height: 2.75em;
  padding: 0 1.5em;
}

.actions__result--error {
  color: #d50b0b;
}

.actions__result--success {
  color: #48d92e;
}

@media screen and (max-width: 480px) {
  ul.actions:not(.fixed) {
    text-align: center;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 963px) {
  #header {
    background-size: cover;
  }
}

.poptrox-popup .caption {
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/**
* Darkmode toggle from https://codepen.io/PavelRodionov/pen/MdQdjw
*/
.tumbler-container {
  position: relative;
}
.tumbler__wrapper {
  margin-left: auto;
  width: 50px;
  height: 30px;
  background-color: black;
  border: darken(#aae2f1, 40);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  cursor: pointer;
  display: flex;
  position: relative;
}

.tumbler__wrapper svg {
  width: 15px;;
  height: 15px;;
}

  
.tumbler {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform .5s, background-color .5s;
  will-change: transform;
}

.dark .tumbler {
  transform: translateX(calc(100% - 2px));
}

.tumbler__wrapper {
  float: right;
}